/* extra styling that'll override the defaults */

body {
    margin-right: 30%;
    margin-left: 10%;
}

/* Headers to bit more human */
h1.title {
    font-size: 4em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.25em;
}

.field-list p {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}



/* Colors */

body {
    background-color: #FFEA87;
}

/*** Code **/

    /* Inline */
    tt.literal {
        background-color: #EBD361;
    }

    /* not for links */
    a tt.literal {
        background-color: inherit;
    }

    /* Block */
    pre.literal-block {
        background-color: inherit;
        border-left: thick solid #EBD361;
        padding-left: 5px;
    }

h2 {
    color: gray;
}
